/* ==UserStyle==
@name           Quizlet Catppuccin Macchiato
@namespace      spaghet
@version        1.0.0
@author         Brandon Bowdoin
==/UserStyle== */
@-moz-document domain("quizlet.com") {
    @import url('https://unpkg.com/@catppuccin/palette@0.1.4/css/catppuccin.css');


    :root body {
        color: var(--ctp-macchiato-text);
        background: var(--ctp-macchiato-base);
    }

    ::selection {
        background: var(--ctp-macchiato-blue);
    }

    .DashboardLayout {
        background-color: var(--ctp-macchiato-base) !important;
    }

    .TopNavigation {
        background-color: var(--ctp-macchiato-crust);
        border-bottom: none;
    }

    .s19dmjr1 {
        border: none;
    }

    .NavigationTab--span {
        color: var(--ctp-macchiato-text) !important;
    }

    .s13oqxd2.NavigationTab:not(.no-highlight):after {
        background: var(--ctp-macchiato-overlay2);
    }

    .e1bxx0ta::after:hover {
        background: var(--ctp-macchiato-overlay2);
    }

    .hri9878 {
        color: var(--ctp-macchiato-subtext1);
    }

    .AssemblyCard {
        background-color: var(--ctp-macchiato-mantle);
        border-color: var(--ctp-macchiato-mantle);
        box-shadow: 0 .125rem .5rem 0 var(--ctp-macchiato-crust);
    }
    h5 {
        color: var(--ctp-macchiato-text);
    }

    .CourseOverviewPreviewCard-recommendationTitle {
        color: var(--ctp-macchiato-text);
    }

    .CourseOverviewPreviewCard-recommendationLink:hover {
        background-color: var(--ctp-macchiato-crust) !important;
    }

    .CourseOverviewPreviewCard-subtitle {
        color: var(--ctp-macchiato-subtext1);
    }

    .CourseOverviewPreviewCard-recommendationLabel {
        color: var(--ctp-macchiato-subtext1);
    }

    .CourseOverviewPreviewCard-divider {
        border: .0625rem solid var(--ctp-macchiato-mantle);
    }

    .AssemblySecondaryButton {
        background-color: var(--ctp-macchiato-crust);
    }

    .AssemblyPrimaryButton--default {
        background-color: var(--ctp-macchiato-crust);
        border: .0625rem solid var(--ctp-macchiato-text);
    }

    .c1vierhv {
        border: .125rem dashed var(--ctp-macchiato-overlay2);
    }

    .djzjpyv {
        color: var(--ctp-macchiato-subtext1);
    }

    span {
        color: inherit;
    }

    .s139vgrg {
        color: var(--ctp-macchiato-subtext1);
    }

    form {
        background-color: inherit;
    }
    input {
        background-color: var(--ctp-macchiato-surface0);
    }

    .b1r2wylq {
        background-color: var(--ctp-macchiato-mantle);
        box-shadow: 0 .125rem .25rem var(--ctp-macchiato-crust);
    }

    .AssemblyPill {
        background-color: var(--ctp-macchiato-crust);
    }

    .t7pmw6o {
        color: var(--ctp-macchiato-text);
    }

    .UserLink-username {
        color: var(--ctp-macchiato-text) !important;
    }
    .UserLink-title {
        color: var(--ctp-macchiato-text) !important;
    }
    .UILinkBox {
        background-color: var(--ctp-macchiato-mantle);
    }

    .UIBaseCardHeader-info {
        color: var(--ctp-macchiato-text) !important;
    }

    .UIBaseCardHeader-thumbnail {
        border: var(--ctp-macchiato-mantle);
    }

    .a1s81tf6 {
        background-color: var(--ctp-macchiato-mantle);
    }

    .aup4qff {
        color: var(--ctp-macchiato-mantle) !important;
    }

    .illkdv2c {
        color: var(--ctp-macchiato-maroon) !important;
    }

    .react-calendar__month-view__weekdays__weekday {
        color: var(--ctp-macchiato-subtext0) !important;
    }

    .CalendarTile--isCurrentWeek::after {
        background-color: var(--ctp-macchiato-mantle) !important;
    }

    .CalendarTile--isCurrentWeek {
        color: var(--ctp-macchiato-text) !important;
    }

    .AssemblyIcon--medium {
        color: inherit;
    }

    .AssemblyIconButton--tertiary {
        color: var(--ctp-macchiato-text);
    }

    .AssemblyButtonBase--circle {
        color: var(--ctp-macchiato-text);
    }

    .AssemblySecondaryButton {
        color: var(--ctp-macchiato-text);
    }

    .AssemblyPillText {
        color: var(--ctp-macchiato-text);
    }

    .SiteActivity-button.isGlobalNavInExperiment {
        color: var(--ctp-macchiato-text);
    }

    .UIIcon--large {
        color: var(--ctp-macchiato-text);
    }

    .s1da1u6y {
        background-color: var(--ctp-macchiato-crust) !important;
    }

    .CalendarTile--hasEvent {
        color: var(--ctp-macchiato-mantle) !important;
    }

    .c1qopd51 {
        color: var(--ctp-macchiato-maroon) !important;
    }

    .AssemblyIconButton--primary {
        background: var(--ctp-macchiato-base);
    }

    .AssemblyButtonBase:hover:not([disabled],
    [aria-disabled=true]) {
        background: var(--ctp-macchiato-mantle);
    }

    .SiteActivity-button {
        border: .0625rem solid var(--ctp-macchiato-overlay2);
        color: var(--ctp-macchiato-text);
    }

    .SiteActivity-button:focus,
    .SiteActivity-button:hover {
        border: .0625rem solid var(--ctp-macchiato-overlay0);
        color: var(--ctp-macchiato-subtext1);
    }

    .NotificationBadge-container {
        background: var(--ctp-macchiato-overlay2);
    }

    [d17q91q7][aria-expanded="true"] {
        background-color: var(--ctp-macchiato-text) !important;
    }

    .UILinkBox-link .UILink:active,
    .UILinkBox-link .UILink:focus,
    .UILinkBox-link .UILink:hover {
        border-bottom: .3125rem solid var(--ctp-macchiato-overlay2);
    }

    .AssemblySmallCard-hover:hover::after {
        background-color: var(--ctp-macchiato-overlay2);
    }

    .rellgo5 {
        color: var(--ctp-macchiato-text);
    }

    #react-autowhatever-site-header-global-search-autosuggest {
        background-color: var(--ctp-macchiato-crust);
        border: var(--ctp-macchiato-mantle);
    }

    .tqxyjjt {
        color: var(--ctp-macchiato-text);
    }

    text {
        color: var(--ctp-macchiato-subtext1);
    }

    li.react-autosuggest__suggestion:hover {
        background: var(--ctp-macchiato-mantle);
    }

    .poy4xqf {
        background: var(--ctp-macchiato-crust);
    }

    .wej97zk {
        background-color: var(--ctp-macchiato-crust);
    }

    .wvbj6cw {
        background-color: var(--ctp-macchiato-crust);
    }

    .poy4xqf {
        border: .0625rem solid var(--ctp-macchiato-crust);
    }

    .c721v4v {
        color: var(--ctp-macchiato-text);
    }

    .c139umgt {
        color: var(--ctp-macchiato-text);
    }

    .t1ow6gy9 {
        color: var(--ctp-macchiato-subtext1);
    }

    .u1jilvfz {
        background-color: var(--ctp-macchiato-overlay2);
    }


    .wej97zk:hover {
        background-color: var(--ctp-macchiato-mantle);
    }

    .s1ovpdog {
        background-color: var(--ctp-macchiato-mantle) !important;
        border-top: .0625rem solid var(--ctp-macchiato-overlay0)
    }

    .AssemblyMenuItem--title {
        color: var(--ctp-macchiato-subtext0) !important;
    }

    .c1ap9d88:hover {
        background-color: var(--ctp-macchiato-base);
    }

    .c1ap9d88 {
        background-color: var(--ctp-macchiato-mantle);
    }

    .h1hbonvg {
        background-color: var(--ctp-macchiato-mantle);
    }

    .UIBaseCard-labelTag {
        background-color: var(--ctp-macchiato-surface0) !important;
        color: var(--ctp-macchiato-text);
    }

    .UIIcon--chevron-right {
        color: var(--ctp-macchiato-text);
    }

    .UIIcon--chevron-left {
        color: var(--ctp-macchiato-text);
    }

    .UIPopover,
    .UIPopover:after {
        background-color: var(--ctp-macchiato-mantle);
    }

    .UIPopover.UIPopover--mediumShadow {
        box-shadow: 0 0.125rem 0.25rem var(--ctp-macchiato-crust);
    }

    .SetRecommendationCard-contextMenuItem:hover {
        background-color: var(--ctp-macchiato-crust);
    }

    .cxvmyeq {
        border: .0624rem solid var(--ctp-macchiato-crust);
    }

    .wxhi4p:hover {
        background-color: var(--ctp-macchiato-mantle);
    }

    .AssemblyTab {
        color: var(--ctp-macchiato-subtext0);
    }

    .AssemblyTab::after {
        color: var(--ctp-macchiato-subtext0);
    }

    .s4cgp9b.AssemblyTab {
        color: var(--ctp-macchiato-text);
    }

    .AssemblyTab:hover {
        color: var(--ctp-macchiato-lavender);
    }

    .f1ub3img {
        border-top: .0625rem solid var(--ctp-macchiato-overlay2);
    }

    .AssemblyTabsWrapper:before {
        background-color: var(--ctp-macchiato-overlay2);
    }

    .s4cgp9b.AssemblyTab:after {
        background: var(--ctp-macchiato-blue);
    }

    .AssemblyTab:hover:after {
        background: var(--ctp-macchiato-blue);
    }

    .w15oa27z:hover {
        background: var(--ctp-macchiato-mantle);
    }

    .wxhi4p:hover {
        background: var(--ctp-macchiato-mantle);
    }

    .i1v4i7rf.textbookIcon {
        background-image: url(https://assets.quizlet.com/a/j/dist/app/i/explanations/textbook_night.1ff39f68b703b28.svg);
    }

    .sinah8x {
        color: var(--ctp-macchiato-subtext0);
    }

    .SetPage {
        background-color: var(--ctp-macchiato-base);
    }

    .SetPage-setIntroWrapper {
        background-color: var(--ctp-macchiato-base) !important;
    }

    .SetPage-setDetailsInfoWrapper {
        background-color: var(--ctp-macchiato-base) !important;
    }

    .SetPage-setDetailsTermsWrapper {
        background-color: var(--ctp-macchiato-base) !important;
    }

    .SetPage-setLinksWrapper {
        background-color: var(--ctp-macchiato-base) !important;
    }

    .SiteFooter {
        background-color: var(--ctp-macchiato-base);
        color: var(--ctp-macchiato-text);
    }

    .SiteFooter-bottom {
        background-color: var(--ctp-macchiato-base);
    }

    .SetPageStickyHeader.is-pinned {
        background-color: var(--ctp-macchiato-crust);
    }

    .StudyModesNavItem {
        background-color: var(--ctp-macchiato-mantle);
    }

    .StudyModesNavItemName {
        color: var(--ctp-macchiato-text);
    }

    .StudyModesNavItemName:visited {
        color: var(--ctp-macchiato-text);
    }

    .c78g08u {
        background-color: var(--ctp-macchiato-mantle);
        box-shadow: 0 .25rem 1rem 0 var(--ctp-macchiato-crust);
    }

    .o1rf13bx {
        color: var(--ctp-macchiato-text);
    }

    .lck97c5 {
        background: var(--ctp-macchiato-mantle);
    }

    .UISwitch-label {
        background-color: var(--ctp-macchiato-mantle) !important;
    }

    .SetPageTerm {
        background: var(--ctp-macchiato-mantle);
    }

    .AssemblyIconButton--secondary {
        background: var(--ctp-macchiato-crust);
    }

    .UIDropdown--inverted {
        background: var(--ctp-macchiato-base) !important;
    }

    .UIDropdown-select {
        color: var(--ctp-macchiato-text) !important;
    }

    .soyu1j6 {
        color: var(--ctp-macchiato-maroon) !important;
    }

    .s1e29328.cbb9lkx {
        color: var(--ctp-macchiato-red);
        background: var(--ctp-macchiato-rosewater);
        border-color: var(--ctp-macchiato-peach);
    }

    .kahyre1 {
        color: var(--ctp-macchiato-green) !important;
    }

    .kzo3tk {
        color: var(--ctp-latte-green) !important;
        /*yes i know this is latte i dont have a replacement*/
    }

    .NotificationBadge-container {
        background-color: var(--ctp-macchiato-blue) !important;
    }

    .hgmlhdt {
        background-color: var(--ctp-macchiato-crust);
    }

    .o1rfl3bx {
        color: var(--ctp-macchiato-text);
        border: .125rem solid var(--ctp-macchiato-overlay2);
    }

    .c1lf7cxm {
        color: var(--ctp-macchiato-subtext0);
    }

    .l3ucz5w {
        color: var(--ctp-macchiato-subtext1);
    }

    .u3v4pv0 {
        color: var(--ctp-macchiato-subtext0);
    }

    .StudyModesNavItem:hover {
        border-bottom-color: var(--ctp-macchiato-overlay2);
    }

    .o1g4qwv {
        background-color: var(--ctp-macchiato-crust);
    }

    .tqyy7cr.h19ive8k {
        color: var(--ctp-macchiato-text);
    }

    .t1kgxwr0 {
        color: var(--ctp-macchiato-text);
    }

    .tuxzbsj {
        fill: var(--ctp-macchiato-text);
    }

    .c5iom2o {
        color: var(--ctp-macchiato-lavender);
    }

    .lck97c5:focus .c5iom2o,
    .lck97c5:hover .c5iom2o {
        color: var(--ctp-macchiato-blue);
    }

    .t4sjwm7 {
        color: var(--ctp-macchiato-text);
    }

    body.colorRefresh-setPageOnly .UISwitch-label {
        color: var(--ctp-macchiato-text);
    }

    .UISwitch-input:hover:not(:disabled) ~ .UISwitch-label {
        color: var(--ctp-macchiato-yellow);
    }

    .UISwitch-label {
        border: .125rem solid var(--ctp-macchiato-overlay1);
    }

    .SetPageTerm-sideContent {
        border-right: .125rem solid var(--ctp-macchiato-overlay2);
    }

    .UISwitch-input:checked:not(:disabled) ~ .UISwitch-label {
        color: var(--ctp-macchiato-mantle);
        border-color: var(--ctp-macchiato-yellow);
        background-color: var(--ctp-macchiato-yellow) !important;
    }

    .AssemblyIconButton--highlight {
        background: none;
        color: var(--ctp-macchiato-yellow) !important;
    }

    .UIToggle-optionInput:hover:not(:disabled) ~ .UIToggle-optionLabel {
        color: var(--ctp-macchiato-yellow);
    }

    .UIToggle-optionInput:checked:not(:disabled) ~ .UIToggle-optionLabel {
        background-color: var(--ctp-macchiato-yellow);
        color: var(--ctp-macchiato-mantle);
    }

    .UIToggle-optionLabel {
        background-color: var(--ctp-macchiato-mantle);
        color: var(--ctp-macchiato-blue);
    }

    .AssemblyIconButton--highlight:hover:not([disabled],
    [aria-disabled=true]) {
        background-color: var(--ctp-macchiato-crust);
    }

    .AssemblyIconButton--tertiary:hover:not([disabled],
    [aria-disabled=true]) {
        background-color: var(--ctp-macchiato-crust);
    }

    .AssemblyButtonBase--square {
        color: var(--ctp-macchiato-text);
    }

    .z1x1k8pd.svwhkoh {
        color: var(--ctp-macchiato-green);
        border: .0625rem solid var(--ctp-macchiato-green);
    }

    .svwhkoh {
        background-color: var(--ctp-macchiato-mantle);
    }

    .kzo3tk.cbb9lkx {
        background: var(--ctp-macchiato-green);
        border-color: var(--ctp-macchiato-green);
        color: var(--ctp-macchiato-text);
    }

    .axrvw3e.s1e29328.cbb9lkx {
        background: var(--ctp-macchiato-flamingo);
        border-color: var(--ctp-macchiato-flamingo);
        color: var(--ctp-macchiato-red);
    }

    .mnlifen {
        background: var(--ctp-macchiato-mantle);
    }

    .f1yw38c3 {
        background: none
    }

    .AssemblyToggleSwitch-input:checked + .AssemblyToggleSwitch-fauxInput {
        background: var(--ctp-macchiato-lavender);
    }

    .AssemblyToggleSwitch-input:checked + .AssemblyToggleSwitch-fauxInput:after {
        background-color: var(--ctp-macchiato-pink);
    }

    .AssemblyToggleSwitch-fauxInput {
        background: var(--ctp-macchiato-overlay1);
    }

    .AssemblyToggleSwitch-fauxInput:after {
        background: var(--ctp-macchiato-lavender);
    }

    .c13e2cpr {
        background-color: var(--ctp-macchiato-mantle);
        color: var(--ctp-macchiato-text);
    }

    .AssemblyInput {
        background-color: var(--ctp-macchiato-surface0);
        color: var(--ctp-macchiato-text);
    }

    .AssemblyInput-input {
        color: var(--ctp-macchiato-subtext1);
    }

    .a1k2umqi {
        background-color: var(--ctp-macchiato-crust);
    }

    .bxtl8jy {
        background-color: var(--ctp-macchiato-surface0);
        color: var(--ctp-macchiato-text);
    }

    .ah6785x {
        color: var(--ctp-macchiato-subtext1);
    }

    .a1fcz3cu:focus-within > .ah6785x {
        color: var(--ctp-macchiato-subtext1);
    }

    .e29yge6 .react-autosuggest__container .react-autosuggest__suggestions-container--open {
        background: var(--ctp-macchiato-mantle);
    }

    .e1g8wmc7 {
        background-color: var(--ctp-macchiato-surface0);
    }

    .AssemblyLink--secondary:hover {
        color: var(--ctp-macchiato-peach);
    }

    .a1k2umqi:focus-within {
        border-bottom: .125rem solid var(--ctp-macchiato-blue);
    }

    .cgyrcnx {
        background-color: var(--ctp-macchiato-overlay2);
    }

    .byhd60 {
        background-color: var(--ctp-macchiato-maroon);
    }

    .d11ucs5j {
        background: var(--ctp-macchiato-overlay2);
    }

    .sjsxdsz {
        border-bottom: .0625rem solid var(--ctp-macchiato-overlay2);
    }

    .fz4nps6 {
        border-top: .0625rem solid var(--ctp-macchiato-overlay2);
    }

    .AssemblyPrimaryButton--default:disabled,
    .AssemblyPrimaryButton--default[aria-disabled=true] {
        background: var(--ctp-macchiato-surface0);
        border-color: var(--ctp-macchiato-base);
        color: var(--ctp-macchiato-subtext0)
    }

    .ptc18zm {
        background: inherit;
    }

    .c1gi3y8b {
        background: var(--ctp-macchiato-crust);
    }

    .k3lm6f3 {
        background-color: var(--ctp-macchiato-crust);
        color: var(--ctp-macchiato-text);
    }

    .w1uwrq7e {
        color: var(--ctp-macchiato-text);
        border: .125rem solid var(--ctp-macchiato-overlay2);
    }

    .t1d08860 {
        color: inherit;
    }

    .i1p8x1gp .i1e9rt5 {
        color: var(--ctp-macchiato-maroon);
    }

    .i1p8x1gp {
        background-color: var(--ctp-macchiato-mantle);
    }

    .i1p8x1gp,
    .i1p8x1gp:focus,
    .i1p8x1gp:hover {
        border-color: var(--ctp-macchiato-maroon);
    }

    .cv1rd7s {
        background: var(--ctp-macchiato-mantle);
    }

    .cv1rd7s,
    .cv1rd7s:focus,
    .cv1rd7s:hover {
        border-color: var(--ctp-macchiato-green);
    }

    .cv1rd7s .i1e9rt5 {
        color: var(--ctp-macchiato-green);
    }

    .b1jcf4jl {
        background-color: var(--ctp-macchiato-crust);
    }

    .pck8ctn {
        color: var(--ctp-macchiato-text);
    }

    .i6cf9vy {
        color: var(--ctp-macchiato-red);
    }

    .c2mfnz6 {
        color: var(--ctp-macchiato-green);
    }

    .pr2w5fu:first-child {
        border-right: .125rem solid var(--ctp-macchiato-overlay2)
    }

    .t117larf {
        background-color: var(--ctp-macchiato-crust);
        border: .0625rem solid var(--ctp-macchiato-overlay2);
        color: var(--ctp-macchiato-text);
    }

    .q1m09plc:hover {
        background-color: var(--ctp-macchiato-crust);
    }

    .q1m09plc {
        color: var(--ctp-macchiato-blue);
    }

    .hbcu5v.q1m09plc {
        color: var(--ctp-macchiato-subtext1);
    }

    .qzk5crt {
        color: var(--ctp-macchiato-text);
    }

    .sd72jj0 {
        color: var(--ctp-macchiato-subtext1);
    }

    .UIModalHeader {
        background-color: var(--ctp-macchiato-crust);
    }

    .UIModalBody {
        background-color: var(--ctp-macchiato-mantle);
    }

    .TestModeOptions {
        background-color: var(--ctp-macchiato-mantle);
    }

    .UIModal-box {
        color: var(--ctp-macchiato-text);
    }

    .UICheckbox-label {
        color: var(--ctp-macchiato-text);
    }

    .UICheckbox-input:checked ~ .UICheckbox-fauxInput {
        border-color: var(--ctp-macchiato-yellow);
    }

    .s19dmjr1 {
        background: var(--ctp-macchiato-surface0);
    }

    .UIButton,
    .UIButton:visited,
    html.touch .UIButton:focus:hover:not(:active) {
        background-color: var(--ctp-macchiato-blue);
    }

    .UICheckbox-fauxInput:after {
        border: .125rem solid var(--ctp-macchiato-yellow);
        border-width: 0 0 .125rem .125rem;
    }

    .UIInput-input {
        color: var(--ctp-macchiato-text);
    }

    .UIInput[aria-invalid=false] .UIInput-input ~ .UIInput-border {
        box-shadow: 0 .125rem 0 0 var(--ctp-macchiato-overlay2);
    }

    .UILink,
    .UILink:visited {
        color: var(--ctp-macchiato-rosewater);
    }

    .UIButton:active,
    html.cursor .UIButton:hover,
    html.cursor .UIButton:hover:visited {
        background-color: var(--ctp-macchiato-sky);
    }

    .UIButton--inverted,
    .UIButton--inverted:visited,
    html.touch .UIButton--inverted:focus:hover:not(:active) {
        box-shadow: inset 0 0 0 3px var(--ctp-macchiato-overlay0);
    }

    .UIHorizontalRule {
        border-bottom: .0625rem solid var(--ctp-macchiato-overlay2);
    }

    .OptionsModal-description,
    .TestModeOptions-listOption-description {
        color: var(--ctp-macchiato-subtext0);
    }

    .swjz05g {
        background-color: var(--ctp-macchiato-crust);
    }

    .swjz05g,
    .swjz05g:focus,
    .swjz05g:hover {
        border-color: var(--ctp-macchiato-blue);
    }

    .s2y71yx label {
        background: var(--ctp-macchiato-surface0);
    }

    .s2y71yx input {
        background: inherit;
    }

    .UIButton--borderless,
    .UIButton--borderless:visited,
    html.touch .UIButton--borderless:focus:hover:not(:active) {
        background: none;
    }

    .TextbookRecommendations {
        background: var(--ctp-macchiato-crust);
    }

    .TextbookCard-Details {
        color: var(--ctp-macchiato-subtext1);
    }

    .AssemblyLink--title:any-link {
        color: var(--ctp-macchiato-text);
    }

    .AssemblyLink--title:hover {
        color: var(--ctp-macchiato-yellow);
    }
    /*     .AssemblyIcon--small {
        color: var(--ctp-macchiato-lavender);
    } */
    .a99ei82 {
        background-color: var(--ctp-macchiato-mantle);
    }

    .ah3z5j1 {
        border: .125rem solid var(--ctp-macchiato-blue);
    }

    .hkyil8p {
        color: var(--ctp-macchiato-blue);
    }

    .e17gih4t {
        border: .125rem dashed var(--ctp-macchiato-overlay2);
    }

    .o1q1tz6w {
        border: .0625rem solid var(--ctp-macchiato-overlay2);
        color: var(--ctp-macchiato-text);
    }

    .hg3d33q {
        border-color: #0000;
    }

    .ser6cev,
    .c86ukn8 {
        color: var(--ctp-macchiato-subtext0);
    }

    .a99ei82 {
        border: .125rem solid var(--ctp-macchiato-overlay2);
    }

    .qcpiy8g {
        color: var(--ctp-macchiato-text);
    }

    .pqa404y {
        color: var(--ctp-macchiato-green);
    }

    .s18c8hjh {
        color: var(--ctp-macchiato-maroon);
    }

    .ljt3l6v {
        fill: var(--ctp-macchiato-subtext0);
    }

    .c16l7630.iayao2g {
        color: var(--ctp-macchiato-green);
    }

    .i1e9dzkh.iayao2g {
        color: var(--ctp-macchiato-maroon);
    }

    .w1e3jc65 {
        background-color: var(--ctp-macchiato-mantle);
        border: .125rem solid var(--ctp-macchiato-mantle);
    }

    .t7fr19y {
        color: var(--ctp-macchiato-lavender);
    }

    .dw1ojws {
        color: var(--ctp-macchiato-subtext0);
    }

    .w1e3jc65:hover {
        border: .125rem solid var(--ctp-macchiato-overlay2);
    }

    .q1nxab59 {
        color: var(--ctp-macchiato-subtext1);
    }

    .ssbjprp {
        color: var(--ctp-macchiato-subtext0);
    }

    .smvj06a {
        color: var(--ctp-macchiato-subtext1);
    }

    .cfzatrd.a548wz9 {
        color: var(--ctp-macchiato-green);
    }

    .cag3g2z.anp68o5 {
        color: var(--ctp-macchiato-green);
    }

    .CombinePage-wrap {
        background-color: var(--ctp-macchiato-base);
    }

    .CombinePageTable-row {
        background-color: var(--ctp-macchiato-mantle);
    }

    .CombinePageTable-rowTermCount {
        color: var(--ctp-macchiato-subtext1);
    }

    .CombinePageTable-setTitle .UIHeading--four {
        color: var(--ctp-macchiato-text);
    }

    .UIDropdown {
        background: var(--ctp-macchiato-mantle);
        border: .125rem solid var(--ctp-macchiato-crust);
    }

    .UIDropdown .UIDropdown-icon {
        color: var(--ctp-macchiato-overlay2);
    }

    .UIDropdown-select:focus option {
        background: var(--ctp-macchiato-mantle);
    }

    option:hover {
        background: var(--ctp-macchiato-crust);
    }

    .ModeControls {
        background-color: var(--ctp-macchiato-mantle);
    }

    .ModeControls-backText {
        color: var(--ctp-macchiato-text);
    }

    .ModeControls-back {
        border-bottom: 1px solid var(--ctp-macchiato-overlay2);
    }

    .UIButton--whiteBorder {
        background: var(--ctp-macchiato-crust) !important;
        border: .125rem solid var(--ctp-macchiato-base);
        color: var(--ctp-macchiato-text) !important;
    }

    .MatchModeControls-currentTime {
        color: var(--ctp-macchiato-blue);
    }

    .MatchModeQuestionScatterTile {
        background-color: var(--ctp-macchiato-mantle);
        border: .125rem solid var(--ctp-macchiato-overlay0);
    }

    .MatchModeQuestionScatterTile.is-draggedOver,
    .MatchModeQuestionScatterTile.is-dragging,
    .MatchModeQuestionScatterTile:hover {
        border-color: var(--ctp-macchiato-overlay2);
    }

    .MatchModeQuestionScatterTile.is-incorrect {
        border-color: var(--ctp-macchiato-maroon);
    }

    .MatchModeQuestionScatterTile.is-correct {
        border-color: var(--ctp-macchiato-green);
    }

    .HighscoresList {
        background-color: var(--ctp-macchiato-crust);
    }

    .HighscoreRow {
        background-color: var(--ctp-macchiato-mantle);
    }

    .UIButton[aria-disabled=true],
    .UIButton[aria-disabled=true]:active,
    .UIButton[aria-disabled=true]:focus,
    .UIButton[aria-disabled=true]:visited,
    .UIButton[disabled],
    .UIButton[disabled]:active,
    .UIButton[disabled]:focus,
    .UIButton[disabled]:visited,
    html.cursor .UIButton[aria-disabled=true]:hover,
    html.cursor .UIButton[disabled]:hover {
        background-color: var(--ctp-macchiato-mantle);
    }

    .t10tqhey {
        background-color: var(--ctp-macchiato-mantle);
        color: var(--ctp-macchiato-text);
        border-color: var(--ctp-macchiato-crust);
    }

    .t9i9vmb.h19ive8k,
    .t1s26kx5.h19ive8k,
    .s1rx7q8q.h19ive8k {
        color: var(--ctp-macchiato-text);
    }

    .s8j1d54,
    .c49e2ip {
        color: var(--ctp-macchiato-subtext1);
    }

    .c6p6uaq .react-calendar__month-view__days__day {
        color: var(--ctp-macchiato-text);
    }

    .c6p6uaq .react-calendar__month-view__days__day--neighboringMonth {
        color: var(--ctp-macchiato-subtext0);
    }

    .AchievementsImage--isActive .a130rwfv,
    .al33ekg.isActive .a130rwfv {
        color: var(--ctp-macchiato-subtext0);
    }

    .s1rtnf4c:before,
    .s1rtnf4c:after {
        background: none;
    }

    .AchievementsImage--isActive .a130rwfv,
    .al33ekg.isActive .a130rwfv,
    .DashboardLayout .SetPreviewLink--noLinkBox,
    .DashboardLayout .PreviewCard--noLinkBox {
        background-color: var(--ctp-macchiato-mantle);
    }

    .SetPreview-queryMatchHighlight {
        background: var(--ctp-macchiato-yellow);
        color: var(--ctp-macchiato-base);
    }

    .cpey3pe {
        color: var(--ctp-macchiato-text);
    }

    .s1fl65t6 {
        color: var(--ctp-macchiato-subtext0);
    }

    .t1ne2oir {
        color: var(--ctp-macchiato-text);
    }

    .b1xq6unb {
        color: var(--ctp-macchiato-text);
    }

    .bp0a7jj {
        color: var(--ctp-macchiato-subtext1);
    }

    .pltikop {
        color: var(--ctp-macchiato-blue);
    }

    .SettingsBox-box {
        background-color: var(--ctp-macchiato-mantle);
    }

    .EdgyDataCoursePillbox .UIPill {
        background: var(--ctp-macchiato-crust);
        border: 1px solid var(--ctp-macchiato-overlay2)
    }

    .UIAutosuggest .react-autosuggest__suggestions-container {
        background: var(--ctp-macchiato-mantle);
    }

    .UIAutosuggest .react-autosuggest__suggestion {
        border-bottom: .125rem solid var(--ctp-macchiato-overlay2);
    }

    .UIAutosuggest .react-autosuggest__suggestion.react-autosuggest__suggestion--highlighted {
        border-bottom: .125rem solid var(--ctp-macchiato-yellow);
    }

    .EdgyDataCourseSelector-suggestion .EdgyDataCourseSelector-suggestionName {
        color: var(--ctp-macchiato-text);
    }

    .UIInput-input.UIInput-autoExpandInput.is-focused ~ .UIInput-border,
    .UIInput-input:focus ~ .UIInput-border {
        box-shadow: 0 .25rem 0 0 var(--ctp-macchiato-yellow);
    }

    .Divider-label {
        background: var(--ctp-macchiato-mantle);
    }

    .UIButton,
    .UIButton:visited,
    html.touch .UIButton:focus:hover:not(:active) {
        color: inherit;
    }

    .the-label,
    .UIButton {
        color: var(--ctp-macchiato-crust);
    }

    input:checked + .p22broa {
        box-shadow: 0 0 0 .25rem var(--ctp-macchiato-blue);
    }

    .button.google {
        background-color: var(--ctp-macchiato-red);
        border-color: var(--ctp-macchiato-peach);
    }

    .button.google:after {
        border-right: 1px solid var(--ctp-macchiato-peach);
    }

    .b1opuclq {
        background-color: var(--ctp-macchiato-crust);
        box-shadow: 0 .25rem 1rem 0 var(--ctp-macchiato-crust);
    }

    .button.apple .label,
    .button.facebook .label,
    .button.google .label {
        color: var(--ctp-macchiato-crust);
    }

    .button.facebook {
        background-color: var(--ctp-macchiato-blue);
        border-color: var(--ctp-macchiato-lavender);
    }

    .button.facebook:after {
        border-right: 1px solid var(--ctp-macchiato-lavender);
    }

    .UIInput-input:-webkit-autofill,
    .UIInput-input:-webkit-autofill:focus,
    .UIInput-input:-webkit-autofill:hover {
        box-shadow: 0 0 0 var(--ctp-macchiato-crust) inset!important;
        -webkit-box-shadow: 0 0 0 var(--ctp-macchiato-crust) inset!important;
    }

    .UIInput-input:-internal-autofill-previewed,
    .UIInput-input:-internal-autofill-selected {
        -webkit-text-fill-color: var(--ctp-macchiato-text);
    }

    .UILink:active,
    html.cursor .UILink:hover,
    html.cursor .UILink:hover:visited {
        color: var(--ctp-macchiato-maroon);
    }

    .setting legend,
    .setting p {
        color: var(--ctp-macchiato-text);
    }

    .UIButton-wrapper {
        color: inherit;
    }

    .UIButton--alert:active,
    html.cursor .UIButton--alert:hover,
    html.cursor .UIButton--alert:hover:visited {
        background-color: var(--ctp-macchiato-maroon);
    }

    .UIButton--alert,
    .UIButton--alert:visited,
    html.touch .UIButton--alert:focus:hover:not(:active) {
        background-color: var(--ctp-macchiato-red);
    }

    .c1qo8ql4 {
        background-color: var(--ctp-macchiato-base);
    }

    .phx9gy6 {
        color: var(--ctp-macchiato-text);
    }

    .soad3d7 {
        color: var(--ctp-macchiato-text);
    }

    .AssemblyLink--primary:any-link {
        color: var(--ctp-macchiato-rosewater) !important;
    }

    .AssemblyLink {
        color: var(--ctp-macchiato-rosewater);
    }

    .UIButton--borderless,
    .UIButton--borderless:visited,
    html.touch .UIButton--borderless:focus:hover:not(:active) {
        background-color: initial;
        color: inherit;
    }

    .UIButton--borderless:active,
    html.cursor .UIButton--borderless:hover,
    html.cursor .UIButton--borderless:hover:visited {
        background-color: initial;
        color: var(--ctp-macchiato-yellow);
    }

    .UIButton--borderless[aria-disabled=true],
    .UIButton--borderless[aria-disabled=true]:active,
    .UIButton--borderless[aria-disabled=true]:focus,
    .UIButton--borderless[aria-disabled=true]:visited,
    .UIButton--borderless[disabled],
    .UIButton--borderless[disabled]:active,
    .UIButton--borderless[disabled]:focus,
    .UIButton--borderless[disabled]:visited,
    html.cursor .UIButton--borderless[aria-disabled=true]:hover,
    html.cursor .UIButton--borderless[disabled]:hover {
        background-color: initial;
    }

    .s19dmjr1.isGlobalNavInExperiment.is-focused,
    .s19dmjr1.isGlobalNavInExperiment.is-focused input {
        background: var(--ctp-macchiato-surface0);
    }

    .t1iqlnnn p {
        color: var(--ctp-macchiato-subtext1);
    }

    .axupt8p,
    .igkckaz {
        color: var(--ctp-macchiato-rosewater);
    }

    .axupt8p:active,
    .axupt8p:focus,
    .axupt8p:hover {
        color: var(--ctp-macchiato-flamingo);
    }

    .cnuw08l {
        background-color: var(--ctp-macchiato-mantle);
    }

    .c192jkj8 {
        color: var(--ctp-macchiato-text);
    }

    .a1sd82zg {
        background-color: var(--ctp-macchiato-crust);
        border-left-color: var(--ctp-macchiato-lavender);
    }

    .g84nzqs {
        background-image: none;
    }

    .du7o3ew > div:not(:last-child) {
        border-right: .0625rem solid var(--ctp-macchiato-overlay2);
    }

    .i73vo82:hover {
        color: var(--ctp-macchiato-crust);
        background-color: var(--ctp-macchiato-crust);
    }

    .f2nmi2p {
        border-top: .0625rem solid var(--ctp-macchiato-overlay2);
    }

    .a1scx0nz {
        background-color: var(--ctp-macchiato-mantle);
    }

    .a4ouqer {
        color: var(--ctp-macchiato-text);
    }

    .t104cykg {
        color: var(--ctp-macchiato-text);
    }

    .ExplanationsLandingPage #PrismicExplanationsSearchBarTarget label,
    .ExplanationsLandingPage #SearchBarTarget label,
    .explanations.prismic-page #PrismicExplanationsSearchBarTarget label,
    .explanations.prismic-page #SearchBarTarget label {
        background-color: var(--ctp-macchiato-surface0);
    }

    .l1rgb1ub {
        border-color: var(--ctp-macchiato-overlay2);
    }

    .theme-night .h1uvmh9x,
    .h1uvmh9x {
        background: var(--ctp-macchiato-mantle);
    }

    .h1ebmrjk {
        background: linear-gradient(180deg, #0000 69.83%, var(--ctp-macchiato-base) 100%);
    }

    .jqcfj5w {
        filter: brightness(0) saturate(100%) invert(12%) sepia(5%) saturate(4408%) hue-rotate(195deg) brightness(93%) contrast(90%);
    }

    .h1wn8ccf {
        color: var(--ctp-macchiato-text);
    }

    .ccm0r9d {
        color: var(--ctp-macchiato-subtext0);
    }

    .AssemblySmallCard-isActive:after {
        background-color: var(--ctp-macchiato-lavender);
    }

    .i192320l {
        border: .125rem solid var(--ctp-macchiato-mantle);
    }

    .b1j40uwt:before {
        background-color: var(--ctp-macchiato-mantle);
    }

    .theme-night .g84nzqs {
        background: none;
    }

    .CreateSetHeader-sticky {
        background: var(--ctp-macchiato-base);
    }

    .a1fcz3cu {
        background-color: var(--ctp-macchiato-surface0);
    }

    .CreateSetHeader-permissionsLink {
        color: var(--ctp-macchiato-subtext1);
    }

    .CreateSetDiagramUploader .UIFloatedCard--white,
    .TermContent-inner {
        background-color: var(--ctp-macchiato-mantle);
    }

    .CreateSetDiagramUploader-banner {
        border-color: var(--ctp-macchiato-overlay0);
    }

    .AssemblyIconButton--primaryInverted {
        border: .0625rem solid var(--ctp-macchiato-overlay2);
    }

    .StudiableItemToolbar {
        border-bottom: 2px solid var(--ctp-macchiato-overlay2);
    }

    .b18prmdf {
        box-shadow: 0 .125rem 0 0 var(--ctp-macchiato-overlay2);
    }

    .ImageUploadProminentContextToggle {
        border: .125rem dashed var(--ctp-macchiato-overlay0);
    }

    .UILinkButton {
        border-bottom: .3125rem solid var(--ctp-macchiato-blue);
    }

    .p10i2lyl {
        background-color: var(--ctp-macchiato-mantle);
    }

    * + .KeyboardShortcuts-shortcut,
    .KeyboardShortcuts-shortcut + *,
    .KeyboardShortcuts-shortcut + .KeyboardShortcuts-shortcut {
        border-top-color: var(--ctp-macchiato-overlay2);
    }

    .UIKeyboardInput {
        color: var(--ctp-macchiato-text);
        border-color: var(--ctp-macchiato-overlay2)
    }

    .UIDropdown-select option {
        color: var(--ctp-macchiato-text);
    }

    .UIButton--inverted:active,
    html.cursor .UIButton--inverted:hover,
    html.cursor .UIButton--inverted:hover:visited {
        box-shadow: inset 0 0 0 3px var(--ctp-macchiato-overlay2);
    }

    .PMEditor:focus-within ~ .b18prmdf {
        box-shadow: 0 0.25rem 0 0 var(--ctp-macchiato-yellow);
    }

    .UITooltip,
    .UITooltip:after {
        background: var(--ctp-macchiato-crust);
    }

    :not(.ie11) .UITooltip,
    :not(.ie11) .UIPopover {
        filter: none;
    }

    .LanguageSelect-option:hover,
    .Select-option.is-focused .LanguageSelect-option {
        background-color: var(--ctp-macchiato-yellow);
    }

    .i1u1jhdl {
        background-color: var(--ctp-macchiato-crust);
    }

    .TermRowDragPlaceholder {
        background: var(--ctp-macchiato-base);
    }

    .CreateSetDiagramUploader-banner.is-dropTarget {
        border-color: var(--ctp-macchiato-yellow);
    }

    .TermContent-addRow:hover .UILinkButton {
        border-bottom-color: var(--ctp-macchiato-yellow);
    }

    .tetv1rf.t8spden:hover {
        background-color: var(--ctp-macchiato-crust);
    }

    .ImportTerms {
        background-color: var(--ctp-macchiato-base);
    }

    .ImportTerms-import,
    .ImportTerms-preview {
        background-color: var(--ctp-macchiato-base);
    }

    .ImportTerms-textarea {
        color: var(--ctp-macchiato-text);
        border-color: var(--ctp-macchiato-overlay2)
    }

    .TermRowsPreview .TermRowsPreview-row {
        background: var(--ctp-macchiato-mantle);
    }

    .UIRadio-input:checked ~ .UIRadio-fauxInput {
        border-color: var(--ctp-macchiato-yellow)
    }

    .UIRadio-fauxInput:after {
        background-color: var(--ctp-macchiato-yellow);
    }

    .UILinkButton:active,
    .UILinkButton:focus,
    .UILinkButton:hover {
        border-bottom-color: var(--ctp-macchiato-yellow);
    }

    .RichTextEditor[aria-invalid=true]:not([aria-disabled=true]) .RichTextEditor-label,
    .LanguageBarSide.has-error .UILink,
    .LanguageBarSide.has-error select {
        color: var(--ctp-macchiato-maroon);
    }

    .AutosuggestContextItem {
        background-color: var(--ctp-macchiato-crust);
        color: var(--ctp-macchiato-text);
    }

    .AssemblyNotice-error {
        border-color: var(--ctp-macchiato-red);
        background-color: var(--ctp-macchiato-surface0);
    }

    .TermRow.is-duplicate {
        outline: .125rem solid var(--ctp-macchiato-yellow);
    }

    .AssemblyPrimaryButton--danger {
        background: var(--ctp-macchiato-red);
        color: var(--ctp-macchiato-crust);
    }

    .AssemblyPrimaryButton--danger:hover:not([disabled],
    [aria-disabled=true]) {
        background: var(--ctp-macchiato-pink);
    }

    .s19dmjr1.is-focused,
    .s19dmjr1.is-focused input,
    .s2y71yx label,
    .s2y71yx.is-expanded label {
        background: var(--ctp-macchiato-surface0);
        color: var(--ctp-macchiato-text);
    }

    .eeiq5c0 {
        color: var(--ctp-macchiato-text);
    }

    .t1r0fp00,
    .t1elfe8k {
        color: var(--ctp-macchiato-subtext0);
    }

    .MobilePage {
        background: var(--ctp-macchiato-base);
    }

    .MobilePage-feature {
        border-color: var(--ctp-macchiato-overlay2);
    }

    .MobilePage-anyDevice {
        border-top-color: var(--ctp-macchiato-overlay2)
    }

    .AssemblyTextButton--secondary {
        color: var(--ctp-macchiato-text);
    }

    .AssemblyPrimaryButton--upgrade {
        background: var(--ctp-macchiato-yellow);
    }

    .page,
    .PrismicSimpleRichText--white,
    .PrismicTextCallout--whiteBackground,
    .PrismicVideoEmbedWithText--whiteBackground,
    .p1mcvm6s,
    .PrismicImageTextTile--whiteBackground,
    .PrismicTextCallout--twilightBlue200Background,
    #SearchResultsPageHeader-mainExperiment {
        background-color: var(--ctp-macchiato-base);
    }

    .tfomyx6,
    .i1rs7b62,
    .d5ww82k {
        color: var(--ctp-macchiato-text);
    }

    .cssrxmc {
        background-color: var(--ctp-macchiato-yellow);
    }

    .PrismicImageTextTile-tileWrapper {
        background-color: var(--ctp-macchiato-mantle);
    }

    .AssemblyPrimaryButton--upgrade:hover:not([disabled],
    [aria-disabled=true]) {
        background: var(--ctp-macchiato-rosewater);
    }

    .s1qq0zr7 {
        background-color: var(--ctp-macchiato-mantle);
    }

    .sv0yvnj a,
    .sv0yvnj a:visited:not(:last-child) {
        color: var(--ctp-macchiato-text);
    }

    .sg4pwu6:hover,
    .hivq638,
    .s1ahro8n:hover {
        background-color: var(--ctp-macchiato-crust);
    }

    .e7lqtuc .react-autosuggest__suggestions-container.react-autosuggest__suggestions-container--open {
        background-color: var(--ctp-macchiato-mantle);
    }

    .e7lqtuc .react-autosuggest__section-title,
    .SearchResultsPageHeader-queryFeedback,
    .SearchResultsPage-contentType .SearchResultsPage-emptyStateHeadline,
    .SearchResultsPage-contentType .SearchResultsPage-emptyStateDescription,
    .SearchResultsPage-contentType .SearchResultsPage-emptyStateSuggestionsList {
        color: var(--ctp-macchiato-text);
    }

    .markdown-body {
        color: var(--ctp-macchiato-subtext1);
    }

    .e7lqtuc li.react-autosuggest__suggestion.react-autosuggest__suggestion--highlighted,
    .e7lqtuc li.react-autosuggest__suggestion:hover {
        background-color: var(--ctp-macchiato-crust);
        border-color: var(--ctp-macchiato-lavender);
    }

    .UserPreviewCard-username,
    .ClassPreviewCard-title {
        color: var(--ctp-macchiato-text);
    }

    .UserPreviewCard-classesDescription,
    .UserPreviewCard-createdSetsDescription,
    .QuestionCard-subject,
    .ClassPreviewCard-location,
    .ClassPreviewCard-membersDescription,
    .ClassPreviewCard-studySetsDescription {
        color: var(--ctp-macchiato-subtext1)
    }

    .QuestionCard-bottomGradient {
        background-image: none;
    }

    .AssemblyTextButton--primary {
        color: var(--ctp-macchiato-rosewater);
    }

    .TosLegend--normal {
        color: var(--ctp-macchiato-subtext1)
    }

    .AssemblyLink--secondary:any-link {
        color: var(--ctp-macchiato-rosewater);
    }

    .lghzn8f,
    .a1cdxe01.h9lvpq {
        color: var(--ctp-macchiato-text);
    }

    .s1mff1xn,
    .AssemblyCheckbox-label {
        color: var(--ctp-macchiato-text);
    }

    .ccnmm10 {
        background-color: var(--ctp-macchiato-mantle);
    }

    .neeykg0 {
        filter: brightness(0) saturate(100%) invert(7%) sepia(16%) saturate(1475%) hue-rotate(197deg) brightness(101%) contrast(93%);
    }

    .c1g4obhz {
        background-color: var(--ctp-macchiato-crust);
        color: var(--ctp-macchiato-text);
    }

    .SetPageTerm-wordText,
    .SetPageTerm-definitionText {
        color: var(--ctp-macchiato-text);
    }

    .SetPageTerms-embeddedDesktopAdWrapper {
        background: var(--ctp-macchiato-mantle)
    }

    .c1qw5oc {
        background: var(--ctp-macchiato-crust);
        border-bottom-color: var(--ctp-macchiato-surface0)
    }

    .c19lfjrd,
    .l1fkuqeb {
        background-color: var(--ctp-macchiato-base);
    }

    .bxyvgmh {
        background-color: var(--ctp-macchiato-mantle);
    }

    .ata5p6z[aria-disabled=true],
    .ata5p6z[aria-disabled=true] div,
    .ata5p6z[aria-disabled=true] textarea {
        background-color: var(--ctp-macchiato-mantle) !important;
    }

    .ata5p6z {
        border-color: var(--ctp-macchiato-overlay2);
        background-color: var(--ctp-macchiato-mantle);
    }

    .AssemblyIconButton--primary:disabled,
    .AssemblyIconButton--primary[aria-disabled=true] {
        background: var(--ctp-macchiato-surface1);
        color: var(--ctp-macchiato-text);
    }

    .ugcsb7m {
        background-color: var(--ctp-macchiato-blue);
        color: var(--ctp-macchiato-crust);
    }

    .AssemblySecondaryButton:disabled,
    .AssemblySecondaryButton[aria-disabled=true] {
        background-color: var(--ctp-macchiato-base);
        border-color: var(--ctp-macchiato-overlay2)
    }

    .m9mf1hr div,
    .m9mf1hr textarea {
        background-color: var(--ctp-macchiato-mantle) !important;
    }

    .lu5rlws {
        color: var(--ctp-macchiato-subtext1)
    }

    .b1yjduyh {
        background-color: var(--ctp-macchiato-mantle);
    }

    .d6tac4m {
        background-color: var(--ctp-macchiato-surface0);
    }

    .RecentFeed-empty {
        background-color: var(--ctp-macchiato-mantle);
    }

    .i1ykvw4f {
        background: var(--ctp-macchiato-mantle);
    }

    .i1ykvw4f:hover {
        background: var(--ctp-macchiato-crust);
    }

    .RecentFeed-empty--cta {
        color: var(--ctp-macchiato-text);
    }

    .UIButton--whiteBorder:active,
    html.cursor .UIButton--whiteBorder:hover,
    html.cursor .UIButton--whiteBorder:hover:visited {
        color: var(--ctp-macchiato-yellow) !important;
    }

    .c124zyvn {
        background: var(--ctp-macchiato-base);
    }

    .AssemblyLink--primary:hover {
        color: var(--ctp-macchiato-maroon);
    }

    .cczh2hb,
    .h1jftztg,
    .t2m5erc {
        color: var(--ctp-macchiato-text);
    }

    .t1nv0ihp,
    .sku1zau,
    .s54kfc3 {
        color: var(--ctp-macchiato-subtext1);
    }

    .ImageUploadProminentContextToggle .ImageUploadProminentContextToggle-IconExplanation {
        color: var(--ctp-macchiato-text);
    }

    .SiteHeaderLogo-link {
        color: var(--ctp-macchiato-blue) !important;
    }

    .c1sgnxr5 {
        color: var(--ctp-macchiato-green);
    }

    .suyglfi {
        color: var(--ctp-macchiato-text);
    }

    .s2y71yx li.react-autosuggest__suggestion.react-autosuggest__suggestion--highlighted,
    .s2y71yx li.react-autosuggest__suggestion:hover {
        background: var(--ctp-macchiato-mantle);
    }
    
    .s2y71yx input {
        color: var(--ctp-macchiato-text);
    }
    
    .q1kwd3of {
        color: var(--ctp-macchiato-overlay2);
    }
    
    .c1741jrq:not(:first-child) {
        border-top-color: var(--ctp-macchiato-overlay2);
    }
    
    .SetsView-studySetResults {
        color: var(--ctp-macchiato-text);
    }
}